<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyser Tool</title>
</head>
<body>
<h1>Welcome to text analyser : Enter your text</h1>
<form action='/analyze' method="get">
    <textarea name="text" style='margin: 0px ; width: 720px ; height : 93px'></textarea>


    <input type="checkbox" name="removepunc">Remove Punctuations <br>
    <input type="checkbox" name="uppercase">Uppercase<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="spaceremover">Space Remover<br>
    <button type='submit'>Analyze text</button>

</form>

 </body>
</html>